*~
*.orig
*.rej
*.pyc
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
parts
loviz/public/*
tmp
.DS_Store

db.sqlite3

loviz/local.py
loviz/local.pyc
loviz/config.pyc
loviz/config.py