{% verbatim %}
	<script id="menu_template" type="text/template">
        <h2 class="titulo">
          {{titulo}}
        </h2>
        <ul class="menu links">
          {%for link in links%}
            <li>
              <a class="{{link.css}}" href="{{link.enlace}}">
                {%if link.icono%}
                  <span class="{{link.icono}}"></span>
                {%endif%}
                {{link.titulo}}
              </a>
            </li>
          {%endfor%}
        </ul>
      </script>

      <script id="bloque_template" type="text/template">
        <h2 class="titulo">{{titulo}}</h2>
        <div class="cuerpo_bloque">{{cuerpo}}</div>
      </script>    
{%endverbatim%}